.nav {
  &__parent {

    &:hover {
      .nav__child {
        display: block;
      }
    }
  }

  &__parent_icon {
    transition: all ease-in-out 250ms;
    .nav__parent:hover & {
      transform:  rotate(-180deg);
    }

  }

  &__child {
    display: none;
  }
}
